@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}
.cabecalho__menu__link.selected {
  text-decoration: underline;
  text-decoration-style: solid; /* Estilo contínuo */
  text-decoration-color: #22d4fd; /* Cor azul */
  text-decoration-thickness: 3px; /* Espessura de 2 pixels */
  text-underline-offset: 5px; /* Distância de 3 pixels */
}

body {
  box-sizing: border-box;
  background-color: black;
  color: #f6f6f6;
}

.cabecalho__menu__link {
  font-family: "Montserrat", sans-serif;
  color: #22d4fd;
  font-weight: 600;
  font-size: 24px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
}
.cabecalho {
  padding: 2% 0% 0% 14%;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
}
a.select::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #22d4fe;
  /* top: 0;
  left: 0; */
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15%;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}
.titulo-destaque {
  color: #22d4fe;
}
.apresentacao__conteudo__texto {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.apresentacao__links__subtitulo {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links__link {
  display: flex;
  gap: 16px;
  justify-content: center;
  border: 2px solid #22d4fd;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  padding: 21.5px 0px;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.apresentacao__links__link:hover {
  color: #22d4fd;
  border: 2px solid #197185;
  transition: 0.5s;
}

.rodape {
  color: black;
  background-color: #22d4fd;
  padding: 24px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
